a:visited {
    color:black;
}
a:link {
    color:black;
    text-decoration: none;
}
body {
    margin: 0 0 0 0;
}
#topbanner {
    background-color: burlywood;
    padding: 10px 50px 10px 50px;
}
#navbar {
    border: 1px solid black;
    padding: 10px 50px 10px 100px;
    background-color: coral;
}
.navbaritem {
    font-family: arial;
    font-size: 20px;
    padding: 0 10px 0 0;
}
#welcomebanner {
    padding: 0 0 0 30px;
}
